<div class="container">
    <div class="col-xs-12">
        <div class="banner col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-2 left-column">
                    <img id="community-logo" src="img/western-logo.png" />
                    <div id="banner-welcome">Welcome Stefan,</div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 center-column">
                    <div class="banner-ad-top-center">
                        <img src="img/hosting-banner.png" />
                    </div>
                    <div class="banner-announcement">
                        <h4 id="banner-announcement-message">There will be bingo starting in the lobby in 15 minutes</h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 right-column">
                    <ul id="banner-settings" class="list-inline list-unstyled pull-right">
                        <li>
                            <a href="" class="fa fa-power-off">
                                Stefan
                            </a>
                        </li>
                        <li>
                            <a href="" class="fa fa-gear">
                                Settings
                            </a>
                        </li>
                    </ul>
                    <br>
                    <h4 id="banner-phone" class="text-right">1-855-444-7658</h4>
                    <br>
                    <ul id="banner-social-list" class="list-inline list-unstyled pull-right">
                        <li>
                            <a href="" class="fa fa-facebook"></a>
                        </li>
                        <li>
                            <a href="" class="fa fa-twitter"></a>
                        </li>
                        <li>
                            <a href="" class="fa fa-linkedin"></a>
                        </li>
                        <li>
                            <a href="" class="fa fa-youtube"></a>
                        </li>
                    </ul>
                    <ul class="list-inline list-unstyled banner-app-buttons">
                        <li>
                            <a data-toggle="modal" data-target="#app-store-modal">
                                <img src="img/AppStore_Icon.png" />
                                App Store
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="img/InfoIcon.png" />
                                Help
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 grid-container">
            <div id="dash-pages" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#dash-pages" data-slide-to="0" class="active"></li>
                    <li data-target="#dash-pages" data-slide-to="1"></li>
                    <li data-target="#dash-pages" data-slide-to="2"></li>
                    <li data-target="#dash-pages" data-slide-to="3"></li>
                    <li data-target="#dash-pages" data-slide-to="4"></li>
                </ol>
                <!-- Wrapper for pages -->
                <div class="carousel-inner" role="listbox">
                    <!-- home page -->
                    <div class="item active">
                        <div id="grid-1" class="gridster col-xs-12">
                            <ul>
                                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-occupied">
                                    <a href="http://linkedin.com"><img class="icon" src="img/LinkedInAppIcon.png" /></a>
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-occupied">
                                    <a href="http://facebook.com"><img class="icon" src="img/FacebookAppIcon.png" /></a>
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="2" data-col="2" data-sizex="1" data-sizey="1" class="gs-w thumb-occupied">
                                    <a href="http://youtube.com"><img class="icon" src="img/YouTubeAppIcon.png" /></a>
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-occupied">
                                    <div class="folder">
                                        <h2>folder</h2>
                                    </div>
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-empty">
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="3" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-empty">
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-empty">
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-occupied">
                                    <a href="http://pinterest.com"><img class="icon" src="img/PinterestAppIcon.png" /></a>
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="3" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-empty">
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="1" data-col="1" data-sizex="2" data-sizey="2" class="gs-w thumb-occupied">
                                    <a href="http://spotify.com"><img class="icon" src="img/SpotifyAppIcon.png" /></a>
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-occupied">
                                    <a href="http://twitter.com"><img class="icon" src="img/TwitterAppIcon.png" /></a>
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="3" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-empty">
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-occupied">
                                    <a href="http://bbc.com"><img class="icon" src="img/RSSAppIcon.png" /></a>
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-empty">
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="3" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-empty">
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-empty">
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-empty">
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="3" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-empty">
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-empty">
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-empty">
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="3" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-empty">
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-empty">
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-empty">
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="3" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-empty">
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--2nd page -->
                    <div class="item">
                        <div id="grid-2" class="gridster">
                            <ul>
                                <li data-row="1" data-col="1" data-sizex="2" data-sizey="2" class="gs-w thumb-occupied">
                                    <a href="http://kayak.com"><img class="icon" src="img/FlightsAppIcon.png" /></a>
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="1" data-col="3" data-sizex="1" data-sizey="1" class="gs-w thumb-occupied">
                                    <a href="http://linkedin.com"><img class="icon" src="img/LinkedInAppIcon.png" /></a>
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="1" data-col="4" data-sizex="1" data-sizey="1" class="gs-w thumb-occupied">
                                    <a href="http://twitter.com"><img class="icon" src="img/TwitterAppIcon.png" /></a>
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="3" data-col="2" data-sizex="3" data-sizey="1" class="gs-w thumb-occupied">
                                    <div class="folder">
                                        <h2>folder</h2>
                                    </div>
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="4" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-occupied">
                                    <div class="folder">
                                        <h2>folder</h2>
                                    </div>
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="3" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-occupied">
                                    <div class="folder">
                                        <h2>folder</h2>
                                    </div>
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="4" data-col="2" data-sizex="1" data-sizey="1" class="gs-w thumb-occupied">
                                    <div class="folder">
                                        <h2>folder</h2>
                                    </div>
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="5" data-col="2" data-sizex="1" data-sizey="1" class="gs-w thumb-occupied">
                                    <div class="folder"></div>
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="4" data-col="4" data-sizex="1" data-sizey="1" class="gs-w thumb-occupied">
                                    <div class="folder">
                                        <h2>folder</h2>
                                    </div>
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                                <li data-row="1" data-col="5" data-sizex="3" data-sizey="3" class="gs-w thumb-occupied">
                                    <a href="http://kayak.com"><img class="icon" src="img/FlightsAppIcon.png" /></a>
                                    <!-- <span class="gs-resize-handle gs-resize-handle-both"></span>-->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 3rd page -->
                    <div class="item">
                        <div id="grid-3" class="gridster">
                            <ul></ul>
                        </div>
                    </div>
                    <div class="item">
                        <div id="grid-4" class="gridster">
                            <ul></ul>
                        </div>
                    </div>
                    <div class="item">
                        <div id="grid-5" class="gridster">
                            <ul></ul>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
                <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                <!--<span class="sr-only">Previous</span>-->
                <!--</a>-->
                <!--<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
                <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                <!--<span class="sr-only">Next</span>-->
                <!--</a>-->
            </div>
        </div>
        <div id="app-tray" class="text-center col-xs-12 gridster">
            <ul class="list-inline app-drawer">
                <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="gs-w thumb-empty"></li>
                <li data-row="1" data-col="2" data-sizex="1" data-sizey="1" class="gs-w thumb-empty"></li>
                <li data-row="1" data-col="3" data-sizex="1" data-sizey="1" class="gs-w thumb-empty"></li>
            </ul>
        </div>
    </div>

</div>