/*@media (min-width: 1440px){
  #home {
  transform: scale(2);
  transform-origin: 0 0;
}

} */

@keyframes bannercolor {
    0% {
        color: #23789e;
    }
    20% {
        color: yellow;
    }
    40% {
        color: green;
    }
    60% {
        color: orange;
    }
    80% {
        color: green;
    }
    100% {
        color: #23789e;
    }
}

#logo {
    width: 50px;
    height: 50px;
    margin: auto;
}

#mainlogo {
    width: 250px;
    height: 50px;
}
#scroller-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
#scroller-content {
    width: 100%;
    height: auto;
    background: #fff;
}
#scroller-content .title {
    border-bottom: solid 2px #c3c3c3;
}
#scroller-content .content {
    
}
.scrollerentry {
    border: solid 4px #000;
    border-bottom: 0px;
}
#scroller-content ul {
    list-style-type: none;
    padding: 0px;
}
#scroller-content li {
    font-size: 24px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::-webkit-scrollbar {
    display: none;
}
body {
    height: 100%;
}
html {
    height: 100%;
}
#dev {
    position: fixed;
    top: 0px;
    left: calc((100% - 300px) / 2);
    z-index: 1000;
    width: 300px;
    height: 100px;
    background: #000;
    outline: solid 2px #ff0000;
    display: none;
}
#dev p {
    color: #fff;
    height: 15px;
    margin: 2px;
    font-size: 13px;
}
#showdev {
    display: none;
    width: 30px;
    height: 20px;
    position: fixed;
    top: 20px;
    background: #000;
    color: #ff0000;
    z-index: 9998;
    cursor: pointer;
}
#showdev p {
    padding: 0px;
    margin: 0px;
}
#branding {
    width: 300px;
    height: 30px;
    position: fixed;
    left: calc((100% - 300px) / 2);
    top: 0px;
    text-align: center
}
#brandtext {
    display: inline-block;
    width: auto;
    margin: auto;
    height: 30px;
    font-weight: bold;
    font-size: 27px;
    color: #fff;
    cursor: default;
}
#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background: rgba(34, 34, 34, 0.8);
    font-size: 17px;
    line-height: 60px;
    white-space: nowrap;
    font-family: Gudea, "Helvetica Neue", HelveticaNeue, TeXGyreHeros, "Nimbus Sans L", "Liberation Sans", Helvetica, Arial, sans-serif;
    box-shadow: 0px -2px 3px 0.5px rgba(0, 0, 0, 0.2);
}
#footercenter {
    position: fixed;
    bottom: 0px;
    height: 30px;
    left: calc((100% - 30px) / 2);
}
#footerright {
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 30px;
    width: auto;
    display: flex;
    line-height: 30px;
    color: #afb0b2;
}

.footerbutton {
    height: 20px;
    bottom: 2.5px;
    margin: 5px 10px;
    vertical-align: middle;
    line-height: normal;
    color: inherit;
    cursor: pointer;
}

.square-o {
    color: #;
}
#keystonelogo {
    height: 20px;
    width: auto;
    margin: 5px 10px 5px 5px;
}
.container {
    width: 1400px;
    overflow-y: scroll;
    padding: 0px;
}
.container .col-xs-12 {
    padding: 0px;
    height: 100%;
}
#home .col-xs-12 {
    height: 100%;
}
.glyphicon {
    margin: 0px 10px 0px 10px;
}
#gridholder {
    position: relative;
    top: 60px;
    width: 100%;
    height: calc(100% - 120px);
    margin: auto;
}
#home {
    height: 900px;
}
@keyframes start {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@-webkit-keyframes start {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}
#home .free-wall .cell[data-state="init"] {
    display: none;
}
#home .free-wall .cell[data-state="start"] {
    display: block;
    animation: start 0.5s;
    -webkit-animation: start 0.5s;
}
#home .free-wall .cell[data-state="move"] {
    transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s;
    -webkit-transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s;
}
#home .grid-container {
    position: relative;
    width: 1440px;
    overflow-y: auto;
    overflow-x: auto;
    height: auto;
    /* outline: solid 1px #c3c3c3; */
    /* box-shadow: 0 2px 0 #c3c3c3; */
}
.list-inline {
    margin-bottom: 0px;
}
#home .grid-container > ul {
    width: 7800px;
}
#home .grid-container #freewall1 {
    width: 0px;
    height: 730px;
    margin-left: 1925px;
    display: none;
}
#firstwall {
    margin: 0px 0px 0px 0px;
    /* border-bottom: 15px solid  rgba(0, 0, 0, 0); */
    
    float: left;
    display: inline-block;
    height: 1700px;
    overflow: hidden;
}
#home .grid-container .free-wall {
    display: inline-block;
    float: left;
}
#home .grid-container .free-wall .folder {
    text-align: center;
    background: #23789E;
}
#foldermodal {
    width: 100%;
    height: 500px;
    padding: 0px;
    margin: 10px auto;
}
#home .grid-container .free-wall .folder input {
    max-width: 95%;
}
#home .grid-container .free-wall .brick {
    cursor: pointer;
}
.brick img {
    width: 100%;
    margin: 0 auto;
    height: auto;
}
.brick .foldergrid {
    height: 100%;
    width: 100%;
    margin: auto;
}
#foldermodal .brick img {
    width: 100%;
    height: 100%;
}
#home .grid-container .free-wall .brick .icon-menu {
    bottom: 5px;
    color: white;
    height: 20px;
    right: 5px;
    position: absolute;
    width: 20px;
}
#home .grid-container .free-wall .brick .icon-menu .dropdown-toggle {
    color: white;
    display: none;
}
#home .grid-container .free-wall .brick .icon-menu .add-dropdown {
    color: black;
    position: relative;
}
#home .grid-container .free-wall .brick .icon-menu .add-dropdown .add-flyout {
    background-color: white;
    display: none;
    right: -200px;
    height: auto;
    position: absolute;
    top: 0;
    width: 200px;
}
#home .grid-container .free-wall .brick .icon-menu .add-dropdown .add-flyout li:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}
#home .grid-container .free-wall .brick .icon-menu .add-dropdown:hover .add-flyout {
    display: block;
}
#home .grid-container .free-wall .brick .widget {
    height: 100%;
    max-height: 400px;
}
#home .grid-container .free-wall .brick .widget .rss-feed {
    height: 100%;
}
#scrollbar {
    width: calc(100% - 20px);
    margin: auto;
    height: 2px;
    background: #c3c3c3;
}
#scrollbarthumb {
    width: 100px;
    height: 2px;
    background: #000;
    position: relative;
}
.rss-feed::-webkit-scrollbar {
    display: inline-block;
}
.rss-feed-small::-webkit-scrollbar,
.rss-feed::-webkit-scrollbar {
    display: inline-block;
}
.rss-feed-small::-webkit-scrollbar-thumb,
.rss-feed::-webkit-scrollbar-thumb {
    background-color: #263c4b;
    border-radius: 8px;
}
#home #trash {
    background-color: rgba(0, 0, 0, 0.6);
    height: 80px;
    padding-top: 25px;
    position: fixed;
    width: 100%;
    visibility: hidden;
    z-index: 2;
}
#home #trash h2 {
    color: white;
}
#home #create-folder {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0px;
    height: 80px;
    padding: 0px;
    position: relative;
    width: 100%;
    visibility: hidden;
    z-index: 2;
}
#home #create-folder h2 {
    color: white;
}
#home .dropzone-hover {
    background-color: red !important;
}
#home .dropzone-active {
    visibility: visible !important;
}
#home .modal .modal-dialog .modal-content .modal-header input {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    -webkit-user-select: none;
    /* Chrome/Safari */
    
    -moz-user-select: none;
    /* Firefox */
    
    -ms-user-select: none;
    /* IE10+ */
    
    user-select: none;
}
#home .modal .modal-dialog .modal-content ul {
    margin: 0 auto;
    max-width: 532px;
}
#home .modal .modal-dialog .modal-content ul li {
    height: 90px;
    margin: 10px 20px;
    padding: 0px;
    width: 90px;
}
#home .modal .modal-dialog .modal-content ul li img {
    width: 100%;
}
#home .snap {
    background-color: #000000;
    border: 1px solid yellow;
    height: 90px;
    width: 90px;
    margin-bottom: 4px;
}
#home .icon {
    height: 100%;
    width: auto;
}
#home .folder {
    border-radius: 8px;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
.folderimg {} #home .folder h2 {
    margin: 0;
    text-align: center;
}
#home #app-tray {
    z-index: 30;
    position: fixed;
    bottom: 30px;
    height: 140px;
    display: inline-block;
    overflow: hidden;
    padding: 0px;
}
#home #app-tray #grid-pagination {
    margin: 0px 0px 4px 0px;
}
#home #app-tray #grid-pagination ul li {
    color: darkgrey;
    opacity: .8;
}
#home #app-tray #grid-pagination ul li:hover {
    opacity: .4;
}
#home #app-tray .free-wall {
    display: inline-block;
}
#home #app-tray .free-wall .folder {
    content: "Folder";
    text-align: center;
}
#home #app-tray .free-wall .brick img {
    height: 100%;
    margin: 0 auto;
    width: auto;
}
#home #app-tray .free-wall .brick .icon-menu {
    bottom: 5px;
    color: white;
    height: 20px;
    right: 5px;
    position: absolute;
    width: 20px;
}
#home #app-tray .free-wall .brick .icon-menu .dropdown-toggle {
    color: white;
}
#home #app-tray .free-wall .brick .icon-menu .add-dropdown {
    color: black;
    position: relative;
}
#home #app-tray .free-wall .brick .icon-menu .add-dropdown .add-flyout {
    background-color: white;
    bottom: 0;
    display: none;
    right: -200px;
    height: auto;
    position: absolute;
    width: 200px;
}
#home #app-tray .free-wall .brick .icon-menu .add-dropdown .add-flyout li:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}
#home #app-tray .free-wall .brick .icon-menu .add-dropdown:hover .add-flyout {
    display: block;
    height: 100px;
}
#home #app-tray #app-drawer {
    /*background: rgba(0, 0, 0, 0.1); */
    
    border-radius: 4px;
    margin: 0 auto;
    position: relative;
}
#app-drawer-container {
    height: 100px;
    overflow-x: scroll;
    position: relative;
}
#row {
    width: 100%;
    margin: 0px;
}
#home #app-tray #app-drawer .brick-icon {
    float: left;
    width: 95px;
    cursor: pointer;
}
.folder-brick-icon,
.miniicon {
    cursor: pointer;
    padding-bottom: 4px;
}
#foldermodaldialog {
    width: 50%;
    min-width: 500px;
    border-radius: 25px;
}
#foldermodalcontent {
    padding-bottom: 20px;
}
.hidden {
    display: none;
}
#password-modal {
    background: #23789e url("../img/logo.png") bottom right no-repeat;
}
#password-modal .modal-content .modal-header {
    border-bottom: transparent;
}
#password-modal .modal-content .modal-footer {
    border-top: transparent;
}
#password-modal h1 {
    color: #23789e;
    font-family: arial, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}
#password-modal p {
    padding: 2% .5%;
}
#password-modal img {
    margin-top: 1.5%;
}
#password-modal .form-group {
    padding: 1% 2%;
}
#password-modal .form-group label {
    padding-bottom: 8px;
}
#password-modal .btn-primary {
    background: #23789e;
}
#password-modal .btn-default {
    border-color: #7eb0db;
}
#app-store-modal h1 {
    color: #204d74;
    margin-bottom: 20px;
}
#app-store-modal h1 img {
    height: auto;
    padding-right: 10px;
    width: 46px;
}
#app-store-modal p {
    color: #23789e;
    margin: 4px 10px;
}
#app-store-modal .app-store-icon {
    height: auto;
    width: 100px;
    padding-right: 10px;
}
#app-store-modal .modal-content .modal-header {
    border-bottom: transparent;
}
#app-store-modal .modal-content .modal-footer {
    border-top: transparent;
}
#app-store-modal .modal-content .modal-body {
    overflow: scroll;
}
#app-store-modal #apps-container {
    border-top: 2px solid #204d74;
    max-width: 100%;
    padding: 0 4%;
}
#app-store-modal #apps-container .brick {
    margin: 10px;
    width: 98px;
}
#app-store-modal #apps-container .brick img {
    height: auto;
    max-width: 98px;
    width: 100%;
}
#app-store-modal #app-nav {
    padding: 0 4%;
}
#app-store-modal #app-nav li {
    height: 50px;
    margin: 6px;
}
#app-store-modal #app-nav .active {
    background: rgba(36, 82, 105, 0.2);
}
#app-store-modal #app-nav .active a {
    color: #000000;
}
#app-store-modal #app-nav #search-nav {
    margin-top: 18px;
}
#app-store-modal #app-nav #search-nav i {
    color: #204d74;
    padding-right: 10px;
}
#app-store-modal .btn-primary {
    background: #23789e;
}
#app-store-modal .btn-default {
    border-color: #7eb0db;
}
p {
    color: #23789e;
    margin: 4px 10px;
}
.apptext {
    position: absolute;
    width: 100px;
    padding: 0px;
    margin: auto;
    color: #fff;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 5;
    font-size: 11px;
    font-family: Gudea, "Helvetica Neue", HelveticaNeue, TeXGyreHeros, "Nimbus Sans L", "Liberation Sans", Helvetica, Arial, sans-serif;
}
.folderapptext {
    position: relative;
    width: 100px;
    padding: 0px;
    margin: 0px;
    color: #000;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.app-store-icon {
    height: auto;
    width: 100px;
    padding-right: 10px;
}
.modal-content .modal-header {
    border-bottom: transparent;
}
.modal-content .modal-footer {
    border-top: transparent;
}
#apps-container {
    border-top: 2px solid #204d74;
    max-width: 100%;
    padding: 0 4%;
}
#apps-container li {
    margin: 10px;
    width: 98px;
}
#app-nav {
    padding: 0 4%;
}
#app-nav li {
    height: 50px;
    margin: 6px;
}
#app-nav .active {
    background: #245269;
}
#app-nav .active a {
    color: #000000;
}
#app-nav #search-nav {
    margin-top: 18px;
}
#app-nav #search-nav i {
    color: #204d74;
    padding-right: 10px;
}
.btn-primary {
    background: #23789e;
}
.btn-default {
    border-color: #7eb0db;
}
.breakingNews {
    display: flex;
    flex-direction: row;
    
}
#bannertext {
    padding-right: 30px;
    animation: bannercolor 2s infinite;
    height: 46px;
    text-align: center;
}
#bannertextcontainer {
    height: 46px;
    width: 15px;
    line-height: 46px;
    width: 100%;
}
.banner {
    background: #ffffff;
    border: 1px solid #c3c3c3;
    position: fixed;
    width: 100%;
    top: 60px;
    left: 0px;
}
.banner .close-banner {
    height: 46px;
    color: #23789e;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    right: 8px;
    position: absolute;
    top: 5px;
}
.banner a:hover {
    opacity: .6;
}
.banner .col-xs-12,
.banner .col-md-2,
.banner .col-md-8,
.banner .row {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.banner .left-column #community-logo {
    width: 170px;
}
.banner .left-column #banner-welcome {
    color: #2786B0;
    font-family: 'montserrat', arial, sans-serif;
    font-size: 20px;
    margin: 27px 0px 0px 0px;
}
.banner .center-column .banner-ad-top-center {
    margin: 10px auto;
    width: 300px;
}
.banner .center-column .banner-ad-top-center img {
    width: 100%;
}
.banner .center-column .banner-announcement {
    background: rgba(243, 255, 255, 0.5);
    border: 1px dashed #7eb0db;
    margin: 32px auto 0px auto;
    width: 75%;
}
.banner .center-column .banner-announcement h4 {
    font-family: 'neuton', arial, sans-serif;
    text-align: center;
}
.banner .right-column #banner-settings {
    margin-top: 3px;
}
.banner .right-column #banner-settings li:first-child {
    border-right: 1px solid #999a9a;
    padding: 0px 5px 0px 0px;
}
.banner .right-column #banner-settings a {
    color: #000000;
}
.banner .right-column #banner-phone {
    margin-top: 15px;
}
.banner .right-column #banner-social-list {
    margin: -20px 0px 0px 0px;
}
.banner .right-column #banner-social-list li {
    padding-left: 10px;
}
.banner .right-column #banner-social-list li a {
    color: #708fa2;
    text-decoration: none;
}
.banner .right-column .banner-app-buttons {
    margin: 20px 0px 0px 0px;
}
.banner .right-column .banner-app-buttons li:first-child {
    border-right: 1px solid #999a9a;
    padding: 0px 5px 0px 0px;
}
.banner .right-column .banner-app-buttons li {
    padding: 0px;
}
.banner .right-column .banner-app-buttons li a {
    color: #2786B0;
}
.banner .right-column .banner-app-buttons li a img {
    height: 20px;
    width: 20px;
}
.widget[border='true'] {
    border: #7eb0db 1px solid;
    border-radius: 20px;
    background: #ffffff;
}
.widget[border='false'] {
    border-radius: 20px;
}
.widget h2 {
    color: #7eb0db;
}
.widget .rss-feed {
    height: 100%;
    /* MOVED TO JS
  max-height: 190px;
  min-height: 190px;
  */
    
    overflow-y: scroll;
}
.widget .rss-feed-small {
    /* MOVED TO JS
  max-height: 95px;
  min-height: 95px;
  */
    
    overflow-y: scroll;
}
.widget .rss-feed ul,
.rss-feed-small ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 0px 10px;
    width: 100%;
}
.rss-feed li,
.rss-feed-small li {
    background-color: #c3c3c3;
    position: relative !important;
}
.rss-feed li:first-child,
.rss-feed-small li:first-child {
    border-top: none;
}
.rss-feed li:nth-child(2n),
.rss-feed-small li:nth-child(2n) {
    background-color: white;
}
.rss-feed li a,
.rss-feed-small li a {
    color: #7eb0db;
    display: block;
}
.widget[border='false'] .iframe {
    height: 100%;
    width: 100%;
    border: 0px;
}
.widget[border='false'] .iframe-small {
    height: 100%;
    width: 100%;
    border: 0px;
}
.widget[border='true'] .iframe {
    height: 100%;
    max-height: 190px;
    min-height: 190px;
    overflow-y: auto;
    border: 0px;
}
.widget[border='true'] .iframe-small {
    max-height: 95px;
    min-height: 100;
    overflow-y: auto;
    border: 0px;
}
iframe::-webkit-scrollbar {
    display: inline-block;
}
iframe::-webkit-scrollbar-thumb {
    background-color: #263c4b;
    border-radius: 8px;
}

.rss-widget{
    width: 300px;
    margin: 0 auto;
}
.rss-widget ul{
    margin: 0;
    padding: 0;
    text-align: left;
    
}
.rss-widget li{
    list-style:none;
    padding: 1em;
    margin-bottom: .125em;
    display: block;
    list-style: none;
    text-transform: uppercase;
    visibility: hidden;
    -webkit-animation: rolldown .7s 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform-origin: 50% 0;
    
    -moz-animation: rolldown .7s 1;
    -moz-animation-fill-mode: forwards;
    -moz-transform-origin: 50% 0;
    
    animation: rolldown .7s 1;
    animation-fill-mode: forwards;
    transform-origin: 50% 0;
}
.rss-feed a{
    color: white;
    text-decoration: none;
}
.blog-item-title{
    font-weight: 900;
    line-height: 1.2;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
        
.blog-item-author{
    font-size: 12px;
    color: rgba(255,255,255,0.6);
} 

.rss-widget li:nth-child(2n) {
  background-color: #ff0000; 
}

.rss-widget li:nth-child(2n+1) {
  background-color: #00ff00;
}